<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <base href="${ctx_path}/"/>
    <title>报名系统</title>
    <style>
        p{
            text-align:center;
        }
    </style>
    <script>
    function clk()
    { 
        window.location.href="${ctx_path + lasturl}";
    }
    </script>   
</head>
    <h1 align = "center" >登陆</h1>
    <p style = "color:red">${loginmessege}</p>
    <form action="login" method="post">
        <p>
            PowerOJ账号:
            <input name="username" type="text">
        </p>
        <p>
            PowerOJ密码:
            <input name="password" type="password">
        </p>
        <p>
            <input value = "登陆" type="submit">
            <button type = "button"  onclick = "clk()">
                返回
            </button>
        </p>
    </form>
</html>
