<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <base href="${ctx_path}/"/>
        
	    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/font-awesome-4.6.3/css/font-awesome.min.css" type="text/css" rel="stylesheet">
		<!--[if lt IE 8]>
		<link href="assets/font-awesome-4.6.3/css/font-awesome-ie7.min.css" type="text/css" rel="stylesheet">
		<![endif]-->
		<link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="assets/css/oj.css" type="text/css" rel="stylesheet">
		<link href="assets/css/oj-icons.css" type="text/css" rel="stylesheet">

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<title>
			${title}注册
		</title>
		<style>
			.table {
				table-layout: fixed;
			}
			.table td
			{
				border:0 !important;
			}
			.control-label {
				width: 20% !important;
			}
			.controls {
				margin-left: 25% !important;
			}
			.need-mid{
				margin: 0,auto;
			}
			.main{
				margin-bottom: 200px;
			}
		</style>
	</head>
	<body background="assets/images/background.jpg">
		<div class="navbar navbar-fixed-top" id="oj-navbar">
			<div class="navbar-inner">
			    <div class="container">
			      	<button class="btn btn-navbar" type="button" data-target=".nav-collapse" data-toggle="collapse">
			        	<span class="icon-bar"></span>
			        	<span class="icon-bar"></span>
			        	<span class="icon-bar"></span>
			      	</button>
			      	<a class="brand" href="https://www.oj.swust.edu.cn">PowerOJ</a>
			      		<div class="nav-collapse collapse">
			        		<ul class="nav">
			          			<li>
			            			<a href=""><i class="icon-list"></i>比赛列表</a>
			          			</li>
			      		  	</ul>
			        		<ul class="nav pull-right">
			        			<#if username??>
					        		<li>
							            <a><i class="oj-icon oj-icon-user-suit"></i>${username}</a>
							        </li>
							        <li>
							            <a href="api/logout"><i class="icon-off"></i>注销</a>
							        </li>
					            <#else>
					            	<li>
							            <a href="api/login"><i class="icon-user"></i>登陆</a>
							        </li>
							        <li>
							            <a href="https://www.oj.swust.edu.cn/signup"><i class="icon-star"></i>注册</a>
							        </li>
					        	</#if>

			        		</ul>
			      		</div>
			   	</div>
			</div>
		</div>
		<div class="marquee">
			  <marquee class="hidden-phone" style="margin-top: 46px;" direction="left" behavior="scroll" scrollamount="2">
			  <ul class="marquee"></ul>
			  </marquee>
		</div>
		<div class = "main container">
    		<div class = "row-fluid">
    			<div class="span12">
					<h1 align="center">
						${title}</br>
						注册
						<#if modify??>
							信息修改
						</#if>
					</h1>
					<#if msg??>
				        <div align = "center">
					        <div class="alert alert-warning" align="center" style="width: 20%;">
								<a href="#" class="close" data-dismiss="alert">
									&times;
								</a>
								<strong>${msg}</strong>
							</div>
						</div>
				    </#if>
				    <#if modify??>
				    	<form action="api/update/${team.tid}" method="post" class="form-horizontal">
				    <#else>
				    	<form action="api/register/${cid}" method="post" class="form-horizontal">
				    </#if>



						<table  class="table table-condensed " >
							<tr>
								<td colspan="3" height="20px"></td>
							</tr>
							<tr>
								<td>

								</td>
								<td>
										<div class="control-group">
											<label class="control-label" for="inputAccount">
												中文队名
											</label>
											<div class="controls">
												<div class="input-prepend">
													<span class="add-on">
														<i class="icon-music"></i>
													</span>
													<input name="teamNameChinese" id="inputAccount" autofocus=""  type="text"  placeholder="中文队名 长度不超过20个字符" value="${team.teamNameChinese!}" style="height: 30px;">
												</div>
												<p class="text-error"></p>
											</div>
										</div>
									<div class="control-group">
										<label class="control-label" for="inputAccount">
											英文队名
										</label>
										<div class="controls">
											<div class="input-prepend">
														<span class="add-on">
															<i class="icon-heart"></i>
														</span>
												<input name="teamNameEnglish" id="inputAccount" autofocus=""  type="text" required="" placeholder="英文队名 长度不超过20个字符" value="${team.teamNameEnglish!}" style="height: 30px;">
											</div>
											<p class="text-error"></p>
										</div>
									</div>

								</td>
								<td>

								</td>
							</tr>
							<tr>
								<td>
									<h2 align="center">队员一</h2>
									<div class="control-group&#10;">
								        <label class="control-label" for="inputAccount">
								        	姓名
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-user-md"></i>
									        	</span>
									            <input name="name1" id="inputAccount" autofocus=""  type="text" required="" placeholder="姓名留空表示没有此队员" value="${team.name1!}" style="height: 30px;">
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								    <div class="control-group&#10;">
								        <label class="control-label">
								        	学号
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-book"></i>
									        	</span>
									            <input name="stuId1" autofocus=""  type="text" required="" placeholder="学号" value="${team.stuId1!}" style="height: 30px;">
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								    
								    <div class="control-group&#10;" >
								        <label class="control-label" >
								        	学院
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-home"></i>
									        	</span>
									            <select name="college1" style="width: 101.5%;">
													<option value="信息工程学院" <#if team.college1?? && team.college1 == "信息工程学院"> selected="selected"</#if> >信息工程学院  </option>
													<option value="计算机科学与技术学院" <#if team.college1?? && team.college1 == "计算机科学与技术学院"> selected="selected"</#if> >计算机科学与技术学院</option>
													<option value="国防科技学院" <#if team.college1?? && team.college1 == "国防科技学院"> selected="selected"</#if>  >国防科技学院</option>
													<option value="理学院" <#if team.college1?? && team.college1 == "理学院"> selected="selected"</#if> >理学院</option>
													<option value="经济管理学院" <#if team.college1?? && team.college1 == "经济管理学院"> selected="selected"</#if> >经济管理学院</option>
													<option value="制造科学与工程学院" <#if team.college1?? && team.college1 == "制造科学与工程学院"> selected="selected"</#if> >制造科学与工程学院</option>
													<option value="土木工程与建筑学院" <#if team.college1?? && team.college1 == "土木工程与建筑学院"> selected="selected"</#if> >土木工程与建筑学院</option>
													<option value="环境与资源学院" <#if team.college1?? && team.college1 == "环境与资源学院"> selected="selected"</#if> >环境与资源学院</option>
													<option value="材料科学与工程学院" <#if team.college1?? && team.college1 == "材料科学与工程学院"> selected="selected"</#if> >材料科学与工程学院</option>
													<option value="生命科学与工程学院" <#if team.college1?? && team.college1 == "生命科学与工程学院"> selected="selected"</#if> >生命科学与工程学院</option>
													<option value="文学与艺术学院" <#if team.college1?? && team.college1 == "文学与艺术学院"> selected="selected"</#if> >文学与艺术学院</option>
													<option value="法学院" <#if team.college1?? && team.college1 == "法学院"> selected="selected"</#if> >法学院</option>
													<option value="马克思主义学院" <#if team.college1?? && team.college1 == "马克思主义学院"> selected="selected"</#if> >马克思主义学院</option>
													<option value="体育学科部" <#if team.college1?? && team.college1 == "体育学科部"> selected="selected"</#if> >体育学科部</option>
													<option value="外国语学院" <#if team.college1?? && team.college1 == "外国语学院"> selected="selected"</#if> >外国语学院</option>
													<option value="成人教育学院" <#if team.college1?? && team.college1 == "成人教育学院"> selected="selected"</#if> >成人教育学院</option>
													<option value="网络教育学院" <#if team.college1?? && team.college1 == "网络教育学院"> selected="selected"</#if> >网络教育学院</option>
													<option value="应用技术学院" <#if team.college1?? && team.college1 == "应用技术学院"> selected="selected"</#if> >应用技术学院</option>
													<option value="拉美研究院" <#if team.college1?? && team.college1 == "拉美研究院"> selected="selected"</#if> >拉美研究院</option>
													<option value="其它学院" <#if team.college1?? && team.college1 == "其它学院"> selected="selected"</#if> >其它学院</option>
													<option value="其它学校" <#if team.college1?? && team.college1 == "其它学校"> selected="selected"</#if> >其它学校</option>
												</select>
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								    <div class="control-group&#10;">
								        <label class="control-label">
								        	班级
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-users"></i>
									        	</span>
									            <input name="class1"  autofocus=""  type="text"  required="" placeholder="班级" value="${team.class1!}"/ style="height: 30px;">
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								    					    
								    <div class="control-group&#10;">
								        <label class="control-label">
								        	性别
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
												<span class="add-on">
									        		<i class="fa fa-github-alt"></i>
									        	</span>
									        	
									        	<select name = "gender1" style="width: 270%;">
									        		<option value="male" <#if team.gender1?? && team.gender1 == "male"> selected="selected" </#if> >男</option>
													<option value="female" <#if team.gender1?? && team.gender1 == "female"> selected="selected" </#if> >女</option>
									        	</select>
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>  
								    
								    <div class="control-group&#10;">
								        <label class="control-label">
								        	联系方式
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-phone"></i>
									        	</span>
									            <input name="contact1"  autofocus=""  type="text" required="" placeholder="联系方式" value="${team.contact1!}" style="height: 30px;">
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								</td>
								<td>
									<h2 align="center">队员二</h2>
									<div class="control-group&#10;">
								        <label class="control-label" for="inputAccount">
								        	姓名
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-user-md"></i>
									        	</span>
									            <input name="name2" id="inputAccount" autofocus=""  type="text"  placeholder="姓名留空表示没有此队员" value="${team.name2!}" style="height: 30px;">
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								    <div class="control-group&#10;">
								        <label class="control-label">
								        	学号
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-book"></i>
									        	</span>
									            <input name="stuId2" autofocus=""  type="text"  placeholder="学号" value="${team.stuId2!}" style="height: 30px;">
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								    
								    <div class="control-group&#10;" >
								        <label class="control-label" >
								        	学院
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-home"></i>
									        	</span>
									            <select name="college2" style="width: 101.5%;">
													<option value="信息工程学院" <#if team.college2?? && team.college2 == "信息工程学院"> selected="selected"</#if> >信息工程学院  </option>
													<option value="计算机科学与技术学院" <#if team.college2?? && team.college2 == "计算机科学与技术学院"> selected="selected"</#if> >计算机科学与技术学院</option>
													<option value="国防科技学院" <#if team.college2?? && team.college2 == "国防科技学院"> selected="selected"</#if>  >国防科技学院</option>
													<option value="理学院" <#if team.college2?? && team.college2 == "理学院"> selected="selected"</#if> >理学院</option>
													<option value="经济管理学院" <#if team.college2?? && team.college2 == "经济管理学院"> selected="selected"</#if> >经济管理学院</option>
													<option value="制造科学与工程学院" <#if team.college2?? && team.college2 == "制造科学与工程学院"> selected="selected"</#if> >制造科学与工程学院</option>
													<option value="土木工程与建筑学院" <#if team.college2?? && team.college2 == "土木工程与建筑学院"> selected="selected"</#if> >土木工程与建筑学院</option>
													<option value="环境与资源学院" <#if team.college2?? && team.college2 == "环境与资源学院"> selected="selected"</#if> >环境与资源学院</option>
													<option value="材料科学与工程学院" <#if team.college2?? && team.college2 == "材料科学与工程学院"> selected="selected"</#if> >材料科学与工程学院</option>
													<option value="生命科学与工程学院" <#if team.college2?? && team.college2 == "生命科学与工程学院"> selected="selected"</#if> >生命科学与工程学院</option>
													<option value="文学与艺术学院" <#if team.college2?? && team.college2 == "文学与艺术学院"> selected="selected"</#if> >文学与艺术学院</option>
													<option value="法学院" <#if team.college2?? && team.college2 == "法学院"> selected="selected"</#if> >法学院</option>
													<option value="马克思主义学院" <#if team.college2?? && team.college2 == "马克思主义学院"> selected="selected"</#if> >马克思主义学院</option>
													<option value="体育学科部" <#if team.college2?? && team.college2 == "体育学科部"> selected="selected"</#if> >体育学科部</option>
													<option value="外国语学院" <#if team.college2?? && team.college2 == "外国语学院"> selected="selected"</#if> >外国语学院</option>
													<option value="成人教育学院" <#if team.college2?? && team.college2 == "成人教育学院"> selected="selected"</#if> >成人教育学院</option>
													<option value="网络教育学院" <#if team.college2?? && team.college2 == "网络教育学院"> selected="selected"</#if> >网络教育学院</option>
													<option value="应用技术学院" <#if team.college2?? && team.college2 == "应用技术学院"> selected="selected"</#if> >应用技术学院</option>
													<option value="拉美研究院" <#if team.college2?? && team.college2 == "拉美研究院"> selected="selected"</#if> >拉美研究院</option>
													<option value="其它学院" <#if team.college2?? && team.college2 == "其它学院"> selected="selected"</#if> >其它学院</option>
													<option value="其它学校" <#if team.college2?? && team.college2 == "其它学校"> selected="selected"</#if> >其它学校</option>
												</select>
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								    <div class="control-group&#10;">
								        <label class="control-label">
								        	班级
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-users"></i>
									        	</span>
									            <input name="class2"  autofocus=""  type="text"  placeholder="班级" value="${team.class2!}" style="height: 30px;">
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								    					    
								    <div class="control-group&#10;">
								        <label class="control-label">
								        	性别
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
												<span class="add-on">
									        		<i class="fa fa-github-alt"></i>
									        	</span>
									        	
									        	<select name = "gender2" style="width: 270%;">
									        		<option value="male" <#if team.gender2?? && team.gender2 == "male"> selected="selected" </#if> >男</option>
													<option value="female" <#if team.gender2?? && team.gender2 == "female"> selected="selected" </#if> >女</option>
									        	</select>
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>  
								    
								    <div class="control-group&#10;">
								        <label class="control-label">
								        	联系方式
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-phone"></i>
									        	</span>
									            <input name="contact2"  autofocus=""  type="text"  placeholder="联系方式" value="${team.contact2!}" style="height: 30px;">
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								</td>
								
								<td>
									<h2 align="center">队员三</h2>
									<div class="control-group&#10;">
								        <label class="control-label" for="inputAccount">
								        	姓名
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-user-md"></i>
									        	</span>
									            <input name="name3" id="inputAccount" autofocus=""  type="text"  placeholder="姓名留空表示没有此队员" value="${team.name3!}" style="height: 30px;">
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								    <div class="control-group&#10;">
								        <label class="control-label">
								        	学号
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-book"></i>
									        	</span>
									            <input name="stuId3" autofocus=""  type="text"  placeholder="学号" value="${team.stuId3!}" style="height: 30px;">
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								    
								    <div class="control-group&#10;" >
								        <label class="control-label" >
								        	学院
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-home"></i>
									        	</span>
									            <select name="college3" style="width: 101.5%;"> 
													<option value="信息工程学院" <#if team.college3?? && team.college3 == "信息工程学院"> selected="selected"</#if> >信息工程学院  </option>
													<option value="计算机科学与技术学院" <#if team.college3?? && team.college3 == "计算机科学与技术学院"> selected="selected"</#if> >计算机科学与技术学院</option>
													<option value="国防科技学院" <#if team.college3?? && team.college3 == "国防科技学院"> selected="selected"</#if>  >国防科技学院</option>
													<option value="理学院" <#if team.college3?? && team.college3 == "理学院"> selected="selected"</#if> >理学院</option>
													<option value="经济管理学院" <#if team.college3?? && team.college3 == "经济管理学院"> selected="selected"</#if> >经济管理学院</option>
													<option value="制造科学与工程学院" <#if team.college3?? && team.college3 == "制造科学与工程学院"> selected="selected"</#if> >制造科学与工程学院</option>
													<option value="土木工程与建筑学院" <#if team.college3?? && team.college3 == "土木工程与建筑学院"> selected="selected"</#if> >土木工程与建筑学院</option>
													<option value="环境与资源学院" <#if team.college3?? && team.college3 == "环境与资源学院"> selected="selected"</#if> >环境与资源学院</option>
													<option value="材料科学与工程学院" <#if team.college3?? && team.college3 == "材料科学与工程学院"> selected="selected"</#if> >材料科学与工程学院</option>
													<option value="生命科学与工程学院" <#if team.college3?? && team.college3 == "生命科学与工程学院"> selected="selected"</#if> >生命科学与工程学院</option>
													<option value="文学与艺术学院" <#if team.college3?? && team.college3 == "文学与艺术学院"> selected="selected"</#if> >文学与艺术学院</option>
													<option value="法学院" <#if team.college3?? && team.college3 == "法学院"> selected="selected"</#if> >法学院</option> 
													<option value="马克思主义学院" <#if team.college3?? && team.college3 == "马克思主义学院"> selected="selected"</#if> >马克思主义学院</option>
													<option value="体育学科部" <#if team.college3?? && team.college3 == "体育学科部"> selected="selected"</#if> >体育学科部</option>
													<option value="外国语学院" <#if team.college3?? && team.college3 == "外国语学院"> selected="selected"</#if> >外国语学院</option>
													<option value="成人教育学院" <#if team.college3?? && team.college3 == "成人教育学院"> selected="selected"</#if> >成人教育学院</option>
													<option value="网络教育学院" <#if team.college3?? && team.college3 == "网络教育学院"> selected="selected"</#if> >网络教育学院</option>
													<option value="应用技术学院" <#if team.college3?? && team.college3 == "应用技术学院"> selected="selected"</#if> >应用技术学院</option> 
													<option value="拉美研究院" <#if team.college3?? && team.college3 == "拉美研究院"> selected="selected"</#if> >拉美研究院</option>
													<option value="其它学院" <#if team.college3?? && team.college3 == "其它学院"> selected="selected"</#if> >其它学院</option> 
													<option value="其它学校" <#if team.college3?? && team.college3 == "其它学校"> selected="selected"</#if> >其它学校</option>
												</select>
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								    <div class="control-group&#10;">
								        <label class="control-label">
								        	班级
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-users"></i>
									        	</span>
									            <input name="class3"  autofocus=""  type="text"  placeholder="班级" value="${team.class3!}" style="height: 30px;">
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								    					    
								    <div class="control-group&#10;">
								        <label class="control-label">
								        	性别
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
												<span class="add-on">
									        		<i class="fa fa-github-alt"></i>
									        	</span>
									       		<select name = "gender3" style="width: 270%;">
									       			<option value="male" <#if team.gender3?? && team.gender3 == "male" > selected="selected" </#if> >男</option>
									       			<option value="female" <#if team.gender3?? && team.gender3 == "female"> selected="selected" </#if> >女</option>
									        	</select>
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>  
								    
								    <div class="control-group&#10;">
								        <label class="control-label">
								        	联系方式
								        </label>
								        <div class="controls">
									        <div class="input-prepend">
									        	<span class="add-on">
									        		<i class="fa fa-phone"></i>
									        	</span>
									            <input name="contact3"  autofocus=""  type="text"  placeholder="联系方式" value="${team.contact3!}" style="height: 30px;">
									        </div>
									        <p class="text-error"></p>
								        </div>
								    </div>
								</td>
							</tr>
							<tr>
								<td colspan="3" height="20px"></td>
							</tr>
							<tr>
								<td colspan="1" align="center" >
								</td>
								
								<td colspan="1" align="center" >
									<div class="control-group need-mid" >
								        <label class="control-label">
								        	是否打星
								        </label> 
								        <div class="controls">
									        <div class="input-prepend">
												<span class="add-on">
									        		<i class="fa fa-star"></i>
									        	</span>
									       		<select name = "isSpecialTeam" style="width: 270%;">
									        		<option value="0" <#if team.isSpecialTeam?? && team.isSpecialTeam == false> selected="selected"</#if> >否，我们要正式参赛</option>
													<option value="1" <#if team.isSpecialTeam?? && team.isSpecialTeam == true> selected="selected" </#if> >是，我们不参与排</option>
									        	</select>
									        </div>
									        <p class="text-error"></p>
								        </div>
								   </div>  
								</td>
								<td colspan="1" align="center" >
								</td>
							</tr>
						</table>
						<div align="center">
							<input type="submit" value="提交" class = "btn btn-primary" style="margin-right: 2%;">
							<a href = "${ctx_path}${lasturl}" class = "btn btn-danger" style="margin-left: 2%;">返回 </a>
						</div>

					</form>
				</div>
			</div>		
		</div>
	</body>
</html>
