<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <base href="${ctx_path}/"/>
		<title>
			报名系统
		</title>
		<style>
			body{
				background-color: #f2f2f2;
			}
			table,tr,td{
			    border-color: #d1d1d1;
		    }
		    tr{
			    background-color: #f2f2f2;
			    height: 32px;
		    }
		    tr:hover{
			    background-color: #eee;
		    }
            td{
                color: #666;    
                padding:0 8px;
            }
		</style>
		<script>
			function clk()
			{
				window.location.href="${ctx_path}/contest/show/${cid}";
			}
		</script>
	</head>
	<body>
		<#if username??>
        <div style="text-align:right" >
          	${username}
         	<a href="logout">注销</a>
        </div>
	    <#else>
	        <div style="text-align:right" >
	         	<a href="https://www.oj.swust.edu.cn/signup">注册</a>
	            <a href="login">登陆</a>
	        </div>
	    </#if>
		<h1 align="center">
			${title}</br>
			注册
		</h1>
		<p style="color: red; text-align: center;">
    		${messege!}
    	</p>
		<form action="admin/register/${cid}" method="post">
			<table cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td>
						<h2>队员一</h2>
						<p>
							姓名：
							<input  name="name1" type="text"/>
						</p>
						<p>
							学号：
							<input  name="stuId1" type="text"/>
						</p>
						<p>
							学院：
							<select name="college1">
								<option value="信息工程学院">信息工程学院</option>
								<option value="计算机科学与技术学院">计算机科学与技术学院</option>
								<option value="国防科技学院">国防科技学院</option>
								<option value="理学院">理学院</option>
								<option value="经济管理学院">经济管理学院</option>
								<option value="制造科学与工程学院">制造科学与工程学院</option>
								<option value="土木工程与建筑学院">土木工程与建筑学院</option>
								<option value="环境与资源学院">环境与资源学院</option>
								<option value="材料科学与工程学院">材料科学与工程学院</option>
								<option value="生命科学与工程学院">生命科学与工程学院</option>
								<option value="文学与艺术学院">文学与艺术学院</option>
								<option value="法学院">法学院</option>
								<option value="马克思主义学院">马克思主义学院</option>
								<option value="体育学科部">体育学科部</option>
								<option value="外国语学院">外国语学院</option>
								<option value="成人教育学院">成人教育学院</option>
								<option value="网络教育学院">网络教育学院</option>
								<option value="应用技术学院">应用技术学院</option>
								<option value="拉美研究院">拉美研究院</option>
								<option value="其它学院">其它学院</option>
								<option value="其它学校">其它学校</option>
							</select>
						</p>
						<p>
							班级：
							<input  name="class1" type="text"/>
						</p>
						<p>
							性别：
							<input type="radio" name="gender1" value="male" checked="checked">男
							<input type="radio" name="gender1" value="female">女
						</p>
						<p>
							联系方式：
							<input  name="contact1" type="text"/>
						</p>
					</td>
					<td>
						<h2>队员二</h2>
						<p>
							姓名：
							<input  name="name2" type="text"/>
						</p>
						<p>
							学号：
							<input  name="stuId2" type="text"/>
						</p>
						<p>
							学院：
							<select name="college2">
								<option value="信息工程学院">信息工程学院</option>
								<option value="计算机科学与技术学院">计算机科学与技术学院</option>
								<option value="国防科技学院">国防科技学院</option>
								<option value="理学院">理学院</option>
								<option value="经济管理学院">经济管理学院</option>
								<option value="制造科学与工程学院">制造科学与工程学院</option>
								<option value="土木工程与建筑学院">土木工程与建筑学院</option>
								<option value="环境与资源学院">环境与资源学院</option>
								<option value="材料科学与工程学院">材料科学与工程学院</option>
								<option value="生命科学与工程学院">生命科学与工程学院</option>
								<option value="文学与艺术学院">文学与艺术学院</option>
								<option value="法学院">法学院</option>
								<option value="马克思主义学院">马克思主义学院</option>
								<option value="体育学科部">体育学科部</option>
								<option value="外国语学院">外国语学院</option>
								<option value="成人教育学院">成人教育学院</option>
								<option value="网络教育学院">网络教育学院</option>
								<option value="应用技术学院">应用技术学院</option>
								<option value="拉美研究院">拉美研究院</option>
								<option value="其它学院">其它学院</option>
								<option value="其它学校">其它学校</option>
							</select>
						</p>
						<p>
							班级：
							<input  name="class2" type="text"/>
						</p>
						<p>
							性别：
							<input type="radio" name="gender2" value="male" checked="checked">男
							<input type="radio" name="gender2" value="female">女
						</p>
						<p>
							联系方式：
							<input  name="contact2" type="text"/>
						</p>
					</td>
					<td>
						<h2>队员三</h2>
						<p>
							姓名：
							<input  name="name3" type="text"/>
						</p>
						<p>
							学号：
							<input  name="stuId3" type="text"/>
						</p>
						<p>
							学院：
							<select name="college3">
								<option value="信息工程学院">信息工程学院</option>
								<option value="计算机科学与技术学院">计算机科学与技术学院</option>
								<option value="国防科技学院">国防科技学院</option>
								<option value="理学院">理学院</option>
								<option value="经济管理学院">经济管理学院</option>
								<option value="制造科学与工程学院">制造科学与工程学院</option>
								<option value="土木工程与建筑学院">土木工程与建筑学院</option>
								<option value="环境与资源学院">环境与资源学院</option>
								<option value="材料科学与工程学院">材料科学与工程学院</option>
								<option value="生命科学与工程学院">生命科学与工程学院</option>
								<option value="文学与艺术学院">文学与艺术学院</option>
								<option value="法学院">法学院</option>
								<option value="马克思主义学院">马克思主义学院</option>
								<option value="体育学科部">体育学科部</option>
								<option value="外国语学院">外国语学院</option>
								<option value="成人教育学院">成人教育学院</option>
								<option value="网络教育学院">网络教育学院</option>
								<option value="应用技术学院">应用技术学院</option>
								<option value="拉美研究院">拉美研究院</option>
								<option value="其它学院">其它学院</option>
								<option value="其它学校">其它学校</option>
							</select>
						</p>
						<p>
							班级：
							<input  name="class3" type="text"/>
						</p>
						<p>
							性别：
							<input type="radio" name="gender3" value="male" checked="checked">男
							<input type="radio" name="gender3" value="female">女
						</p>
						<p>
							联系方式：
							<input  name="contact3" type="text"/>
						</p>
					</td>
				</tr>
				<tr>
					<td colspan="3" align="center" style="height: 50px">
						是否正式参加：
						<input type="radio" name="isSpecialTeam" value=0 checked="checked">是
						<input type="radio" name="isSpecialTeam" value=1>否
						
					</td>
				</tr>
				<tr>
					<td colspan="3" align="center" style="height: 50px">
						<input type="submit" value="提交">
						<button type="button" onclick="clk()"> 返回</button>
					</td>
				</tr>
			</table>
			
		</form>
	</body>
</html>
